@import url('https://fonts.googleapis.com/css?family=Pixelify+Sans');

* {
  --font-primary: Pixelify Sans;
  --font-display: Pixelify Sans;
  --font-headline: Pixelify Sans;
  text-rendering: optimizeLegibility;
  text-transform: none !important;
}

/* Monospace Font */

@font-face {
  font-family: 'monogram';
  src: url("https://menez.io/css/font/monogram_extended.ttf") format('truetype');
}

code,
.codeBlockText_bcfd01,
.codeLine__10acb,
.markup_a7e664 code.inline,
.after_inlineCode__59586,
.before_inlineCode__48f7c,
.inlineCode__0cacf,
.markup_a7e664 code {
  font-family: "monogram", monospace;
  font-size: 20px;
}
